.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    overflow: hidden; 
}

.left-side, .right-side {
    flex: 1; 
    padding: 20px;
}

.left-side {
    text-align: center; 
    max-width: 50%; 
    padding-bottom: 10px;
    padding-top: 80px;
}

.left-side img {
    max-width: 100%; 
    max-height: calc(100vh - 80px); 
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}
